body {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
}

a:link {
  text-decoration: none;
  color: white;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*****home page*****/
.home_image {
  margin: 50px;
}

.home {
  background: url("http://localhost:3000/image/background.png");
  background-size: 900px;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

/*****about page*****/
.about {
  text-align: center;
  font-size: 50px;
}

.school_image {
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #bbb;
}

.tagline {
  text-align: center;
}

.howto {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

/*****auth page*****/
.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("http://localhost:3000/image/classroom.jpg");
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/*****portal page*****/
.subtitle-dashboard {
  font-size: 50px;
  background-color: #4d15e9;
  padding: 30px;
  margin: 70px;
  color: white;
  text-align: center;
}

.create {
  text-align: center;
  margin-left: 320px;
  margin-right: 320px;
  background-color: blue;
  padding: 30px;
  padding-right: 100px;
  padding-left: 100px;
  color: white;
  font-size: large;
  border-radius: 10px;
}

/*****create page*****/
.form-group-attendance {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin: 20px;
  margin-top: 70px;
  grid-gap: 10px;
  background-color: #4d15e9;
  padding: 20px;
  color: white;
  text-align: left;
}

.form-group-attendance2 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin: 20px;
  margin-top: 20px;
  grid-gap: 10px;
  background-color: #4d15e9;
  padding: 20px;
  color: white;
  text-align: left;
}

.form-group-attendance3 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin: 20px;
  margin-top: 20px;
  grid-gap: 10px;
  padding: 20px;
  color: white;
  text-align: left;
}

.form {
  margin-left: 20px;
  margin-right: 40px;
  font-size: 30px;
  padding-left: 50px;
}

.save {
  background-color: blue;
  color: white;
  font-size: 50px;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  margin-top: 60px;
}

/*****field-form component*****/
.addfield {
  background-color: gray;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  text-align: center;
  align-content: center;
  font-size: 50px;
  border-radius: 10px;
}

.field {
  margin-left: 60px;
  padding-left: 100px;
  margin-top: 30px;
}

/*****navbar component*****/
.navbar {
  width: 100%;
  height: 80px;
  font-size: 40px;
  background-color: #6d6875;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(188, 144, 144);
  text-decoration: none;
}

.nav-link:hover {
  color: aquamarine;
  font-weight: bold;
}
.nav-link {
  padding-right: 2em;
}

/*****portal page: buttons*****/
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 80px;
  grid-gap: 10px;
  background-color: #4d15e9;
  padding: 5px;
}

.absent {
  background-color: rgb(255, 119, 16);
  padding: 20px;
  padding-left: 95px;
  padding-right: 95px;
  margin-left: 90px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}

.present {
  background-color: rgb(7, 139, 20);
  padding: 20px;
  padding-left: 95px;
  padding-right: 95px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}

/*****auth page: buttons*****/
.register-buttons {
  background-color: #4d15e9;
  color: white;
  padding: 12px;
  border-radius: 7px;
}

/*****navbar component: buttons*****/
.logout {
  border: none;
  margin: 10px;
  padding-top: 2px;
  font-size: 24px;
  background-color: #6d6875;
  color: white;
}

/********create class roster**********/
.create-roster {
  background-color: #4d15e9;
  color: white;
  padding: 50px;
  font-size: 60px;
  margin: 80px;
  text-align:center;
}

.create-class{

    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: 20px;
    margin-top: 70px;
    grid-gap: 10px;
    background-color: #4d15e9;
    padding: 20px;
    color: white;
    text-align: left;
  
  
}

.title-roster {
  text-align: center;
  font-size: 90px;
  margin-top: 40px;
}

.aan-create-class {
  background-color: #6d6875;
  color: white;
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  border-radius: 10px;
  float:left;
  margin-left:10px;
  margin-bottom:5px;
}

.create-class-submit {
  background-color: #2c700f;
  color: white;
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  border-radius: 10px;
  margin-left:50px;
  margin-top:40px;
}
.enrolled{
  float:left;
  margin-top: 10px;
  margin-left: 50px;
}

.subject-create {
  padding-right: 30px;

}

.create-fn {
  
  margin-left:50px;
  margin-top:10px;
}

.create-ln {
  padding-right: 30px;
  margin-left: 30px;
}

.subject-input {
  padding-left: 60px;
}

.last-input {
  padding-left: 60px;
}

.first-input {
  padding-right: 60px;
  margin-left: 30px;
  margin-bottom:14px;
  
}

.notes{
float:left;
margin-left:50px;
margin-top:30px;
  
}

#notesOnStudent{

  margin-top: 20px;
  margin-left:20px;
  padding-left:50px;
}

.first-input::after{
  content: "\a";
  white-space: pre;

}

.photo {
 margin-left:45px;
  margin-top:50px;
}

#studentPhoto{
  margin-top:20px;
  margin-left:20px;
}

.absence{
  float:left;
  margin-left:45px;
  margin-top:45px;
}

#absences{
  margin-top:30px;
  margin-left:40px;
  padding-left:50px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
